# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBp5RqKKbUkmoP_LUjbZr3Kc3cIvhIuyxY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=uniformflow-ee6df.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=uniformflow-ee6df
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=uniformflow-ee6df.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=462439503316
NEXT_PUBLIC_FIREBASE_APP_ID=1:462439503316:web:bfc0f958188e620d753241
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-Y174P14M9J
